{% extends "DeepThought/templates/index.html" %}


{% block header %}
<header class='hero is-medium'>
  <div class='hero-body'>
    <div class='container is-fullhd'>
      <div class="columns">
        <div class="column is-one-third is-align-items-center is-flex is-flex-direction-column is-justify-content-center">
          <h1 class='title has-text-centered'>{{ section.title }}</h1>
          <p class='subtitle has-text-centered'>{{ section.description }}</p>
          <div class="has-text-centered">
            {{ macros:: social_links( social_config=config.extra.social) }}
          </div>
        </div>
        <div class="column image is-flex is-justify-content-center is-align-items-center">
          {% if config.extra.author.avatar %}
          <img src='{{ config.extra.author.avatar }}' />
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}


{% block content %}
<div class="container is-fullhd">
    <progress class="mt-4 mb-6 progress is-warning" value="25" max="100">25%</progress>
    <div class="mx-2 tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Hello World</p>
          <p class="subtitle">What is up?</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Foo</p>
          <p class="subtitle">Bar</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Third column</p>
          <p class="subtitle">With some content</p>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
          </div>
        </article>
      </div>
    </div>
    <progress class="mt-6 mb-6 progress is-warning" value="50" max="100">50%</progress>
    <div class="container is-max-desktop">
        <div class="mx-2 tile is-ancestor">
            <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
                <div class="column">
                    <div class="tile is-parent">
                        <div class="card mx-auto" style="max-width: 80%">
                            <div class="card-image">
                                <figure class="image">
                                    {% set navinImage = resize_image(path='../static/images/navin.png', width=480, height=480, op='fill') %}
                                    <img src="{{ navinImage.url }}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">John Smith</p>
                                        <p class="subtitle is-6">@johnsmith</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                    <a href="#">#css</a> <a href="#">#responsive</a>
                                    <br>
                                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="tile is-parent">
                        <div class="card mx-auto" style="max-width: 80%">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    {% set ishanImage = resize_image(path='../static/images/ishan.jpg', width=480, height=480, op='fill') %}
                                    <img src="{{ ishanImage.url }}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">John Smith</p>
                                        <p class="subtitle is-6">@johnsmith</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                    <a href="#">#css</a> <a href="#">#responsive</a>
                                    <br>
                                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <progress class="mt-6 mb-6 progress is-warning" value="75" max="100">75%</progress>
    <div class="container is-fullhd">
        <div class="mx-2 tile is-ancestor">
            {% set testimonials = load_data(path="content/testimonials.toml") %}
            {% for _, testimony in testimonials.testimonials %}
            <div class="tile is-parent">
                <div class="card mx-auto tile is-child box">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ testimony.name }}</p>
                                {% if testimony.org %}
                                <p class="subtitle is-6">{{ testimony.org }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="content">
                            {{ testimony.testimony_text | safe}}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
